body{
   
}
h1{
  color: blue;
  background: black;
  font-family: arial;
  text-align: center;
  font-size: 30px;
}

p{
   color:white;
   font-family: verdana;
   text-align: left;
   background: pink;
   font-size: 20px;
}
